.font-face {
    font-family: 'Lato', sans-serif;
}

.btn {
    height: 40px;
    line-height: 36px;
    padding: 0 36px;
    border: 2px solid $link-color;
    color: $link-color;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;

    &:hover {
        background: $link-color-dark;
        color: #FFF;
    }
}
