---
comments: true
---

<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        {% include simple_header.html %}
        <section class="page-section">
            <div class="post">

              <header class="post-header">

                <p class="post-meta">
                  {% for category in page.categories %}
                    <span class="post-category">{{ category }}</span>
                  {% endfor %}

                  {% for tag in page.tags %}
                    <span class="post-tag">{{ tag }}</span>
                  {% endfor %}
                </p>

                <h1 class="post-title">{{ page.title }}</h1>
              </header>

              <article class="post-content">
                {{ content }}
              </article>

                <div id="disqus_thread"></div>
                  <script>
                    var disqus_config = function () {
                      this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";
                      this.page.identifier = "{{ page.id }}";
                    };

                    (function() {
                      var d = document, s = d.createElement('script');
                      s.src = '//desqer.disqus.com/embed.js';
                      s.setAttribute('data-timestamp', +new Date());
                      (d.head || d.body).appendChild(s);
                    })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

            </div>
        </section>
        {% include footer.html %}
    </body>

</html>
